<!-- <div id="action-description">
  <p>This sample demonstrates basic rendering of the pivot table with drill-up and drill-down functionality bound to a
      relational report.</p>
</div>
<div class="control-section" style="overflow:auto;">
  <ejs-pivotview #pivotview id='PivotView'
  [dataSourceSettings]=dataSourceSettings 
  showFieldList='true'
  showGroupingBar='true'
  allowCalculatedField='true'
  [editSettings]='editSettings'
  [gridSettings]='gridSettings'>
  </ejs-pivotview>
</div> -->
<wbr-pivot *ngIf="report" #pivot1 [toolbar]="false"
          [width]="'100%'"
          [height]="500"
          [report]="report"
          [customizeCell]="customizeCellFunction"
          (cellclick)="onCellClick($event)">
    WebDataRocks will appear here
</wbr-pivot>
<button (click)="getCell()">Get cell</button>